{{!< default}}
{{! The tag above means: insert everything in this file into the body of the default.hbs template }}

{{#get "tags" limit="10" order="count_posts desc"}}
  {{#foreach tags}}
    <a href="{{url}}" class="tag">
      {{name}}
      ({{count.posts}})
    </a>
  {{/foreach}}
{{/get}}
